body{
	background: white;
	width: 100%;
	text-align: center;
	margin: 0 auto;

}

.container{
	width: 100%;
}

form{
	width: 500px;
	text-align: center;
	margin: 0 auto;
	padding: 30px;
}

#searchContainer{
	width: 100%;
}

.buttons{
	padding: 30px;
}

#logo{
	padding: 40px;
}

.coolGifs{
	width: 100%;
	position: left;
}

.divContainer{
	width: 25%;
	float: left;
}