body{
	background: pink;
	width: 100%;
	text-align: center;
		margin: 0 auto;

}

.container{
	width: 100%;
}

form{
	width: 500px;
	text-align: center;
	margin: 0 auto;
	padding: 30px;
}

#searchContainer{
	width: 100%;
}

.buttons{
	padding: 30px;
}

#logo{
	padding: 40px;
}