body{
	background-image: url("../../assets/images/patterns.jpg");
	background-repeat: repeat;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 40px;
}

.container{
	width: 100%;
	height: auto;
	background: black;
    opacity: 0.9;
}

form{
	width: 500px;
	text-align: center;
	margin: 0 auto;
	padding: 0px 30px 30px 30px;
}

#searchInput{
	color: white;
}

.buttons{
	padding: 30px 30px 0px 30px;
	color: black;
}

#logo{
	padding: 40px;
}

.gifsContainer{
	height: 500px;
	text-align: center;
}

.coolGifs{
	width: 100%;
	position: left;
	height: auto;
	background: black;
	color: white;
}

.divContainer{
	width: 25%;
	float: left;
}

button{
	background: white;
	height: 40px;
	font-size: 20px;
	color: white;
    opacity: 2;
}
